

td, th, table {
  border: 1px solid black;
  border-collapse: collapse;
}

td h3{
  background-color:  skyblue;
  color: black;
  border: 3px solid black;
}

td {
color : brown;
}

h1 {
  background-color:  dodgerblue;
  color: white;
  border: 3px solid black;
}
